<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Armed forces schools</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <!-- <div class="header__logo logo">
                    <a href="/"><img src="img/logo2.png" alt="" class="logo__icon"></a>
                </div> -->
                <nav class="header__menu menu">
                    <ul class="menu__list">
                        <a href="http://google.com" class="menu__link" target="_blank">
                            <li class="menu__item">Главная</li>
                        </a>
                        <a href="http://google.com" class="menu__link" target="_blank">
                            <li class="menu__item">Все заведения</li>
                        </a>
                        <a href="http://google.com" class="menu__link" target="_blank">
                            <li class="menu__item">После 9 класса</li>
                        </a>
                        <a href="#" class="menu__link" target="_blank">
                            <li class="menu__item">После 11 класса</li>
                        </a>
                        <a href="#" class="menu__link" target="_blank">
                            <li class="meny__item">О проекте</li>
                        </a>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="main">
            <div class="main__container">
                <div class="content">
                    <div class="content__title">Все заведения</div>
                    <div class="content__main">
                        <ul class="content__list armed-list">
                            <li class="armed-list__item">
                                <div class="armed-list__picture">
                                    <img src="img/Военная академия Генерального штаба/main.jpg" alt="armed_school">
                                </div>
                                <div class="armed-list__info info">
                                    <div class="info__name">Наименование: Военная академия Генерального штаба</div>
                                    <div class="info__description">Военная ордена Ленина, Краснознамённая, орденов Суворова и Кутузова академия Генерального штаба Вооружённых сил
                                    Российской Федерации — высшее военно-учебное заведение для обучения, подготовки и повышения квалификации высших и
                                    старших офицеров Вооружённых сил, других министерств и ведомств Российской Федерации, руководителей и должно...</div>
                                    <div class="info__button-wrapper"><a href="#" class="info__button">Читать далее...</a></div>
                                    <div class="info__geo">Место нахождения: Москва, Улица Гринева</div>
                                </div>
                            </li>
                            <li class="armed-list__item">
                                <div class="armed-list__picture">
                                    <img src="img/Военно-дипломатическая академия/main.jpg" alt="armed_school">
                                </div>
                                <div class="armed-list__info info">
                                    <div class="info__name">Наименование: Военная академия Генерального штаба</div>
                                    <div class="info__description">Военная ордена Ленина, Краснознамённая, орденов Суворова и Кутузова академия Генерального штаба Вооружённых сил
                                    Российской Федерации — высшее военно-учебное заведение для обучения, подготовки и повышения квалификации высших и
                                    старших офицеров Вооружённых сил, других министерств и ведомств Российской Федерации, руководителей и должно...</div>
                                    <div class="info__button-wrapper"><a href="#" class="info__button">Читать далее...</a></div>
                                    <div class="info__geo">Место нахождения: Москва, Улица Гринева</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="footer__container">
            </div>
        </footer>
    </div>
</body>

</html>
