{% extends 'armed_universities/super.html' %}
{% block main %}
        <main class="main">
            <div class="main__container">
                <div class="main__about about">
                    <div class="about__title">О проекте</div>
                    <div class="about__body">Данный сайт призван помочь людям, которые выбирают путь служения Отечеству. Здесь
                        будущие учащиеся смогут выбрать
                        подходящее учебное заведение, которое будет удовлетворять их требованиям.</div>
                </div>
            </div>
        </main>
{% endblock main %}
