{% extends 'armed_universities/super.html' %}

{% block main %}
    <main class="main">
        <div class="main__container">
            <div class="content">
                <div class="content__title">Все заведения</div>
                <div class="content__main">
                    <ul class="content__list armed-list">
                        {% for post in posts %}
                            <li class="armed-list__item">
                                <div class="armed-list__picture">
                                    <img src="/media/{{ post.main_img }}" alt="main_img">
                                </div>
                                <div class="armed-list__info info">
                                    <div class="info__name">Наименование: {{ post.name }}</div>
                                    <div class="info__description">{{ post.full_info|truncatewords:50 }}</div>
                                    <div class="info__button-wrapper"><a href="{{ post.get_absolute_url }}" class="info__button">Читать
                                            далее...</a></div>

                                    <div class="info__geo">Место нахождения: {{ post.location }}</div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </main>
{% endblock main %}
