{% extends 'armed_universities/super.html' %}

{% block main %}

    <main class="main">
        <div class="main__container">

            <div class="content">
                <div class="content__title">{{ post.name }}</div>
                <div class="content__school school">
                    <div class="school__picture">
                        <img src="media/{{ post.img_1 }}" alt="">
                    </div>
                    <div class="school__location">Место нахождения: {{ post.location }}</div>
                    <div class="school__title-1">Информация о заведении</div>
                    <div class="school__full-info">{{ post.full_info }}</div>
                    {% if post.website %}
                        <div class="school__website-info website-info">
                            <div class="website-info__contacts">{{ post.contacts }}</div>
                            <div class="website-info__website">{{ post.website }}</div>
                        </div>
                    {% endif %}
                </div>    
            </div>

        </div>
    </main>

{% endblock main %}
